<html>
<head>
  </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </html>
<body>
  <div class ="title">ALL Products</div>
<div class="main-container">
  <div class="filter-container">
    <div class="category-box">
      <span class="category-title">Category</span>
      <span>
        <i class="fas fa-angle-down"></i>
      </span>
    </div>
  </div>
  <div class="item-container">
    <div class="category-div">
      <div><img src="../../assets/Women/Westren.jpg"></div>
      <div class="category-text">
        Westren Wear
        <br>
        Price range <br>start from 200 Rs.
      </div>
    </div>

    <div class="category-div">
      <div><img src="../../assets/Women/Westren3.jpg"></div>
      <div class="category-text">
        Westren Wear
        <br>
        Price range <br>start from 200 Rs.
      </div>
    </div>

    <div class="category-div">
      <div><img src="../../assets/Women/Westren3.jpg"></div>
      <div class="category-text">
        Westren Wear
        <br>
        Price range <br>start from 200 Rs.
      </div>
    </div>

    <div class="category-div">
      <div><img src="../../assets/Women/Westren3.jpg"></div>
      <div class="category-text">
        Westren Wear
        <br>
        Price range <br>start from 200 Rs.
      </div>
    </div>

    <div class="category-div">
      <div><img src="../../assets/Women/Westren3.jpg"></div>
      <div class="category-text">
        Westren Wear
        <br>
        Price range <br>start from 200 Rs.
      </div>
    </div>

    <div class="category-div">
      <div><img src="../../assets/Women/Westren3.jpg"></div>
      <div class="category-text">
        Westren Wear
        <br>
        Price range <br>start from 200 Rs.
      </div>
    </div>

    <div class="category-div">
      <div><img src="../../assets/Women/Westren3.jpg"></div>
      <div class="category-text">
        Westren Wear
        <br>
        Price range <br>start from 200 Rs.
      </div>
    </div>
</div>
</div>
</body>